<!-- Upload Movie Files -->
<div class="modal-header">
    <link rel="stylesheet" href="css/upload.css">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h4 class="modal-title" id="myModalLabel"> Upload</h4>
</div>
<div class="modal-body">
    <span class="btn btn-success fileinput-button">
		<i class="icon"></i>
		<span>Add files</span>
    <input id="fileupload" type="file" name="files">
    </span>
    <button id="filestart" type="button" class="btn btn-primary start" data-ng-click="#">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
    </button>
    <button id="filecancel" type="button" class="btn btn-warning cancel" data-ng-click="#">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel upload</span>
    </button>
    <div class="progress" style="margin-top:30px">
        <div id="progress" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            
        </div>
    </div>
</div>
<script type="text/javascript">
    var request = new XMLHttpRequest();
    var form = new FormData();
    $("#fileupload").on("change",function(e){
        var file = document.getElementById("fileupload").files[0];
        if(file == null)
            return false;
        form.append('userfile',file);
        $("#progress").html("");
        $("#progress").attr("aria-valuenow",0);
        $("#progress").attr("style","width:"+0+"%");
        $("#progress").removeClass("progress-bar-success");
        $("#progress").removeClass("progress-bar-danger");
        $("#progress").addClass("progress-bar-info");
        request.upload.onprogress = function(evt){
            var percent = (evt.loaded / evt.total) * 100;
            $("#progress").html(parseInt(percent));
            $("#progress").attr("aria-valuenow",parseInt(percent));
            $("#progress").attr("style","width:"+parseInt(percent)+"%");
        };
        request.onreadystatechange = function(){
            if(request.readyState == 4)
            {
                if(request.status == 200)
                {
                    if(request.responseText == 'success')
                    {
                        $("#progress").addClass("progress-bar-success");
                        $("#progress").removeClass("progress-bar-info");
                    }
                    else
                    {
                        $("#progress").addClass("progress-bar-danger");
                        $("#progress").removeClass("progress-bar-info");
                    }
                }
            }
        };
    });
    $("#filestart").on("click",function(e){
        request.open("POST", "./util/sendvideo.php");
        request.send(form);
    });
    $("#filecancel").on("click",function(e){
        request.abort();
        $("#progress").html("");
        $("#progress").attr("aria-valuenow",0);
        $("#progress").attr("style","width:0%");
        $("#progress").addClass("progress-bar-info");
        $("#progress").removeClass("progress-bar-danger");
        $("#progress").removeClass("progress-bar-success");
    });

</script>